<!DOCTYPE html>
<html>
<head>
  <style>
    /* Your style here */
  </style>
</head>
<body>
  <div class="email-container">
    <div class="header">
      🎅 <span>Secret Santa</span> 🎄
    </div>
    <div class="greeting">
      Ho Ho Ho, <strong>{{name}}</strong>! 🎅<br><br>
      Your Exclusive Game Code: 
    <div class="assigned"><strong>{{gameCode}}</strong><br></div>
      Share this special code with all participants and let the fun begin! 🎁
    </div>
    <div class="rules">
      🌟 <strong>Rules of the Game:</strong><br>
      <ul>
        <li>Keep it secret, keep it fun!</li>
        <li>Share joy and make someone's Christmas magical! 🎅</li>
      </ul>
    </div>
    <div class="footer">
      🎄 Wishing you a joyful gifting experience!<br>
      <strong>Happy gifting, SecretSanta Team 🎁</strong>
    </div>
  </div>
</body>
</html>
