.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.dashboard-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    flex-direction: row;
    height: calc(100vh - 60px);
    /* margin-top: 30px; */
}

.game-actions {
    background-color: #5F6D7C;
    color: white;
    border: none;
    padding: 15px 14px;
    font-size: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally align items */
    gap: 8px; /* Add a small gap between the icon and the text */
}

.game-home-actions {
    background-color: #5F6D7C;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally align items */
    gap: 8px; /* Add a small gap between the icon and the text */
}

.game-actions:hover {
    background-color: #162b42 !important;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.game-home-actions:hover {
    background-color: #162b42 !important;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.game-actions:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .dashboard-container {
        flex-direction: column;
    }
}