.dialog-title-code {
    background-color: #5F6D7C;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.dialog-title-text-code {
    font-weight: normal;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.dialog-content {
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    border-radius: 8px;
    margin-bottom: 16px;
}

.dialog-actions {
    padding: 16px;
    justify-content: center;
}

.code-form .MuiDialogActions-root .cancel-button {
    background-color: #f5f5f5;
    color: #162B42
}

.code-form .MuiDialogActions-root .join-button {
    background-color: #5F6D7C;
    color: #fff;
}

.code-form .MuiDialogActions-root .cancel-button:hover {
    background-color: #c8d2db;
}

.code-form .MuiDialogActions-root .join-button:hover {
    background-color: #162B42;
}

.code-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-shadow: none;
    background-color: white;
}

.code-form input {
    padding: 12px;
    width: 335px;
}

.code-form .MuiIconButton-root {
    position: absolute;
    right: 16px;
    background-color: #5F6D7C;
}

@media (max-width: 768px) {
    .input-field {
        gap: 4px;
    }
}