/* General chat container styles */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.chat-mode-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-top: 10px;
}

/* Chat window styles */
.chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-size: cover; /* Make the image cover the chat window */
    background-position: center; /* Center the image */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #fff; /* Ensure text remains readable over the image */
}

.custom-button:hover {
    background-color: #252091 !important; /* Hover color */
  }  


.close-chat-button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffebec;
    cursor: pointer;
    position: absolute;
    padding: 9px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent black overlay for readability */
    border-radius: 10px;
}
.message-input, .send-button {
    background-color: rgba(255, 255, 255, 0.8); /* Light background for input and button */
    color: #333; /* Text color for contrast */
}


.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #ececec;
}

.message-input {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send-button {
    font-size: 16px;
    text-align: center;
    width: 45px;
    height: 37px;
    border: 1px;
    border-radius: 40%;
    background-color: #5F6D7C;
    color: white;
    cursor: pointer;
}

.message {
    display: flex;
    align-items: center;
    width: 100%;
}

.sent {
    justify-content: flex-end;
    margin: initial;
    margin-top: 5px;
}

.sent .message-text {
    max-width: 80%;
    background-color: #6c69a2;
    color: white;
    padding: 8px;
    border-radius: 10px;
    justify-content: flex-end;
    word-wrap: break-word; /* Ensures words wrap when they exceed the width */
    white-space: normal;   /* Allows text to wrap to the next line */
    overflow-wrap: break-word; /* Breaks long words to fit within the box */
    font-size: medium;
    text-align: left;
}

.received {
    justify-content: flex-start;
    margin: initial;
    margin-top: 5px;
}

.received .message-text {
    max-width: 80%;
    background-color: #a269a0;
    color: white;
    padding: 8px;
    border-radius: 10px;
    justify-content: flex-end;
    word-wrap: break-word; /* Ensures words wrap when they exceed the width */
    white-space: normal;   /* Allows text to wrap to the next line */
    overflow-wrap: break-word; /* Breaks long words to fit within the box */
    font-size: medium;
    text-align: left;
}

/* Delete message button */
.delete-message {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.chat-header {
    background-color: #5F6D7C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.button-icon {
    margin-right: 8px; /* Adds spacing between the icon and text */
    vertical-align: middle; /* Aligns the icon with the text */
    font-size: 1.2em; /* Adjust the size as needed */
}

@media (max-width: 1024px) {
    .chat-button-container {
        flex-direction: column;
    }
  }


