:root {
    --primary-color: #2c65a0;
    --secondary-color: #1c3d60;

    --background-color: #f1f1f1;

    --primary-button-color: #2c65a0;
    --primary-button-color-hover: #1c3d60;
    --secondary-button-color: #f5f5f5;
    --secondary-button-color-hover: #c8d2db;
}